.nav-item {
    font-size: 20px;
}

html {
    height: 150%;
}

body {
    background-color: #D9F0FF;
}

nav {
    background-color: #133B60;
}

.card {
    height: 2000px;
    background-color: #A3D5FF;
    color: black;
    padding-left: 16px;
    padding-right: 16px;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    background-color: #5AFF15;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    height: 435px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: black !important;
}

.frontside .card .card-body img {
    width: 300px;
    height: 300px;
}

@media (min-width: 544px) {
    .card-text {
        font-size: 12px;
    }
    /*1rem = 16px*/
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
    .card-text {
        font-size: 15px;
    }
    /*1rem = 16px*/
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .card-text {
        font-size: 16px;
    }
    /*1rem = 16px*/
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .card-text {
        font-size: 18px;
    }
    /*1rem = 16px*/
}


/*
  ::::::::::::::::::::::::::::::::::::::::::::::::::::
  Custom media queries
  */


/* Set width to make card deck cards 100% width */

@media (min-width: 950px) and (max-width:1100px) {
    .card-text {
        font-size: 20px;
    }
}